extends layout

block content
    div(class="container-form")
        h2(class="title") Atbash Cipher
        form(id="form" method="post" action="/encrypt")
            div(class="form-group")
                input(type="text" id="plain-text" autocomplete="off" name="encrypt")
                label(for="plain-text" class="control-label") Plain Text
                i(class="bar")
            div(class="button-container")
                button(id="encrypt") v Encrypt v
                button(id="decrypt") ^ Decrypt ^
            div(class="form-group")
                input(type="text" id="cipher-text" name="decrypt")
                label(for="cipher-text" class="control-label") Cipher Text
                i(class="bar")
            div(class="button-container")
                button(class="button" id="saveBtn") Save
            script(src="/atbash.js")
