extends layout 

block content

  div(id="container")
    label(for="title") Caesar Cipher!!
    br 
    br
    div(class="input")    
      form(id="form")
        label(for="chypher") Text:
        br
        input(type="text" id="chypher") 
        br 
        br 
        label(for="offset") Offset:
        br 
        input(type="number" value="3" id="offset")
        br 
        br 
        label(for="finish") Finish:
        br 
        input(type="text" id="finish")  
        br 
        br
        button(id="help") Help!

        script(src="/caesar.js")