extends layout
block content 
        body(onload="start()")
                h2(class="game") Game
                p(id="score")
                p Which cipher is this?
                p(id="unencryptStr")
                p(id="question text")
                select(id="guessInput")
                        option(value="ROT13") ROT13
                        option(value="Caesar") Caesar
                        option(value="Atbash") Atbash
                button(id="guessButton" onclick="guess()") Guess
                script 
                        include ../public/game.js
