extends layout

block content
    div(class="container-form")
        h2(class="title") Playfair
        form(id="form")
            div(class="form-group")
                input(type="text" id="playFairText" autocomplete="off" name="encrypt")
                label(for="playFairText" class="control-label") Plain Text
                i(class="bar")
            div(class="button-container")
                button(id="encrypt") v Encrypt v
                button(id="decrypt") ^ Decrypt ^
            div(class="form-group")
                input(type="text" id="bottom-cipher" name="decrypt" )
                label(for="bottom-cipher" class="control-label") Cipher Text
                i(class="bar")
            div(class="button-container")
                button(class="button" id="saveBtn") Save
                button(class="button" id="loadBtn") Load
            script(src="/playfair.js")
