extends layout

block content
    div(class="container-form")
        h2(class="title")=title
        div Plain Text
        div=info.encrypt
        div Key
        div=info.key
        div C1PH3R
        div=info.decrypt